{
  "env": {
    "development": {
      "sourceMaps": "inline",
      "plugins": ["source-map-support"]
    },
    "production": {
      "sourceMaps": "inline"
    }
  },
  "presets": [
    [
      "@babel/preset-env",
      {
        "include": ["transform-classes", "transform-destructuring"],
        "targets": { "node": "current" },
        "useBuiltIns": "usage",
        "corejs": "core-js@3"
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-object-rest-spread",
    "add-module-exports"
  ]
}
